@page
@model Assignment3.Pages.ReceptionModel
@{
	ViewData["Title"] = "Reception";
}
<h1>@ViewData["Title"]</h1>

<div>
	<div>
		<p>Specify how many guests checked in for breakfast</p>
		<form>
			<label for="adults">Adults</label>
			<input type="text" id="adults"/> <br><br>
		
			<label for="children">Children</label>
			<input type="text" id="children"/> <br><br>

			<label for="receptionDate">Date:</label>
			<input type="date" id="receptionDate" name="receptioninfo"> <br><br>
		
			<input type="submit" value="Submit">
		</form>
	</div>
	
	<div>
		<p>Current list of guests staying at the hotel, who has been checked in for breakfast</p>

	</div>

</div>

