@page
@model Assignment3.Pages.RestaurantModel
@{
	ViewData["Title"] = "Restaurant";
}
<h1>@ViewData["Title"]</h1>

<h3>Check in guests for breakfast here:</h3>
<div>
	<form>
		<label for="room">Room nr.</label>
		<input type="text" id="room"/> <br><br>
		
		<label for="adults">Adults</label>
		<input type="text" id="adults"/> <br><br>
		
		<label for="children">Children</label>
		<input type="text" id="children"/> <br><br>
		
		<input type="submit" value="Submit">
	</form>
</div>
